body {
    display: flex;
    flex-flow: column;
    margin: 0px;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.MainNav {
    font-family: 'Yeseva One';
    display: flex;
    justify-content: center;
    background-color: #292E49;
    height: 7vh;
    flex-flow: row;
}


.CafeName {
    flex: 1;
    padding: 0px;
    margin: 0px;
    align-items: center;
    margin-left: 0%;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 3vh;
}

.NavigativBar {
    flex: 3;
    font-family: 'Gentium Book Basic', serif;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.Home:hover {
    cursor: pointer;
    border-top: 3px solid #9CA092;
}

.Home {
    font-size: 100%;
    background: none;
    border: none;
    color: #9CA092;
}

.Menu:hover {
    cursor: pointer;
    border-top: 3px solid #9CA092;
}

.Menu {
    font-size: 100%;
    background: none;
    border: none;
    color: #9CA092;
}

.Booking:hover {
    cursor: pointer;
    border-top: 3px solid white;
}

.Booking {
    font-size: 100%;
    background: none;
    border: none;
    color: white;
}

@media(max-height: 400px) {
    .MainNav {
        height: 15vh;
    }

    .CafeName {
        font-size: 4vw;
    }
}

/* ////////////////////////////////////////////////////// */

.BookingArea {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin: 5vw;
}

.Images {
    display: flex;
    width:30%;
    flex-flow: row;
    justify-content: space-around;
    min-width: 320px;
}

.BookZone {
    width:30%;
    display: flex;
    flex-flow: column;
    min-width: 320px;
    align-items: center;
}

.FirstIm {
    width:45%;
    margin-right: 1vw;
}

.SecondIm {
   
    width:45%;
}

.SectorName {
    text-align: center;
    font-size: 2vw;
    color: #cc9900;
}

.Review {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1vw;
    line-height: 1.5vw;
    color: white;
}

.buttons {
   
    width: 100%;
    display: grid;
    column-gap: 1vw;
    grid-template-areas:
        "A B"
        "C D"
        "E E";
}

.Label
{
    color: #cc9900;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 1vw;
}

.Input {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    width:90%;
    height: 2vw;
}

select {
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    color: #9e9e9e;
    font-size: 1vw;
}

option:not(:first-of-type) {
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}

.Name {
    margin-bottom: 1vw;
    grid-area: A;
}

.Email {
    margin-bottom: 1vw;
    grid-area: B;
}

.Date {
    margin-bottom: 1vw;
    grid-area: C;
}

.Number {
    margin-bottom: 1vw;
    grid-area: D;
}

#Number{
    border: solid black 2px ;
    border-radius: 2px;
}

.button{
    grid-area: E;
   
    display: flex;
    justify-content: center;
}

.InputButton{
    background-color: #cc9900;
    font-family: 'Open Sans', sans-serif;
    Color: white;
    border: none;
    height: 2vw;
    width: 50%;
}

input,
label {
    display: block;
}

.decor2 {
    width: 50%;
}


/* ////////////////////////////////////////////////////// */
.information {
    display: flex;
    height: 20vw;
    background-color: black;
    color: white;
}

.Location {
    font-size: 1.5vw;
    text-align: center;
    align-items: center;
    display: flex;
    flex-flow: column;
    width: 50%;
    justify-content: center;
}

.openignHour {
    font-size: 1.5vw;
    text-align: center;
    align-items: center;
    display: flex;
    flex-flow: column;
    width: 50%;
    justify-content: center;
}

.decor {
    width: 40%;
}

@media (max-width: 780px) {

    .Label{
        font-size: 2.5vw;
    }

    .Input{
        height: 2.5vw;
    }

    #Number{
        height: 3.5vw;
        font-size: 2vw;
    }

    .InputButton{
        height: 4vw;
    }


    .decor2 {
        width: 60%;
    }

    .Review {
        font-size: 2vw;
        line-height: 2.5vw;
    }

    .decor {
        width: 60%;

    }

    .SectorName {
        font-size: 4vw;
    }
}


@media (max-width: 480px) {

    .Label{
        font-size: 3.5vw;
    }

    .Input{
        height: 4.5vw;
    }

    #Number{
        height: 6vw;
        font-size: 3vw;
    }

    .InputButton{
        height: 6vw;
    }


    .decor2 {
        width: 60%;
    }

    .Review {
        font-size: 3vw;
        line-height: 3.5vw;
    }

    .decor {
        width: 60%;

    }

    .SectorName {
        font-size: 5vw;
    }

    .information {
        height: 40vw;
    }

    .Location {
        font-size: 3vw;
    }

    .openignHour {
        font-size: 3vw;
    }
}

@media(max-height: 400px) {
    .MainNav {
        height: 15vh;
    }

    .InputButton{
        height: 4vw;
    }

    .Review{
        font-size: 2vw;
        line-height: 2.5vw;
    }

    .SectorName{
        font-size: 4vw;
    }

    .CafeName {
        font-size: 4vw;
    }
}