<div class="information">
    <div class="openingHour">
        <p class="Hour">
            <b> Opening Hour</b>
        </p>
        <img class="decor" src="Images/WhiteThing4.png" alt="">
        <p>
            <b>Mon-Thu: </b> 7:00am-8:00pm<br>
            <b>Fri-Sun: </b> 7:00am-10:00pm
        </p>
    </div>
    <div class="Location">
        <p class="Local">
            <b>Our Location</b>
        </p>
        <img class="decor" src="Images/WhiteThing4.png" alt="">
        <p>
            <b>19th Paradise Street Sitia<br>
                128 Meserole Avenu</b>
        </p>
    </div>
</div>